/* Contact Container */
.h111 {
  color: #a8dadc;
}

.h11 {
  color: #e63946;
}

.contactContainer {
  display: flex;
  gap: 1rem;
  max-width: 1200px;
  margin-top: auto;
  margin-left: auto;
}

/* Contact Info */
.contactInfo {
  flex: 1 1 20rem;
}

.contactInfo h1 {
  font-size: 1.7rem;
  color: #f1faee;
}

.contactInfo p {
  margin: 0.5rem 0 1rem;
  font-size: 17px;
  text-align: justify;
}

/* Address */
.svg {
  fill: currentColor;
  color: #fc7f85;
}
.address div {
  font-size: 1rem;
  margin-left: 0rem;
  display: flex;
}
.link {
  text-decoration: none;
  color: #f1faee;
}
.link:hover {
  color: #fc7f85;
}
.address p {
  margin-left: 15px;
  margin-top: 5px;
  color: #f1faee;
}

@media (max-width: 768px) {
  .contactContainer {
    max-width: 800px;
  }
  .svg {
    fill: currentColor;
    color: #fc7f85;
  }

  .prag {
    font-size: 17px !important;
  }
}

@media (max-width: 425px) {
  .svg {
    fill: currentColor;
    color: #fc7f85;
  }
  .svgg {
    width: 40px;
  }
  .prag {
    font-size: 15px !important;
  }
}
@media (max-width: 375px) {
  .svg {
    fill: currentColor;
    color: #fc7f85;
  }
  .svgg {
    width: 60px;
  }
  .prag {
    font-size: 14px !important;
  }
}
