/* Contact Container */

.contactContainer {
  display: flex;
  gap: 1rem;
  max-width: 1200px;
  margin-top: auto;
  margin-left: auto;
}

/* Contact Info */
.contactInfo {
  flex: 1 1 20rem;
}

.contactInfo h1 {
  font-size: 1.7rem;
  color: #f1faee;
}

.contactInfo p {
  margin: 0.5rem 0 1rem;
  font-size: 17px;
}

/* Address */
.svg {
  fill: currentColor;
  color: #fc7f85;
}
.address div {
  font-size: 1rem;
  margin-left: 0rem;
  display: flex;
}
.link {
  text-decoration: none;
  color: #f1faee;
}
.link:hover {
  color: #fc7f85;
}
.address p {
  margin-left: 15px;
  margin-top: 5px;
  color: #f1faee;
}
