/* social media */

.socialmedia .container {
  margin-left: 30px;
  margin-top: -155px;
}

.socialmedia .container .h1 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  line-height: 40px;
  color: darkslategrey;
}

.socialmedia .container .sosmedlink {
  display: flex;
  margin-left: 0%;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.socialmedia .container .sosmedlink .sosiaLink {
  width: 2.5em;
  height: 2.5em;
  margin-right: 1.25em;
  border-radius: 9999em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rebeccapurple;
  text-decoration: inherit;
  border-bottom: 1px solid;
  border-right: solid;
}

.socialmedia .container .sosmedlink .fillcurrent {
  fill: currentColor;
}

.socialmedia .container .sosmedlink .sosiaLink:hover {
  color: white;
  background-color: cadetblue;
}
/* akhir social media */
