.sosmedText {
  color: rgb(177, 8, 8);
}
.sosmedText:hover {
  color: #5295ec;
}

.svg {
  fill: currentColor;
}

.sosmedContainer {
  display: flex;
}

.sosmedContainer > * + * {
  margin-left: 30px;
}
