.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.deskripsi4 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}
.order {
  font-size: 30px;
  color: #f1faee;
}

.kolom h6 {
  font-weight: normal;
  font-size: 20px;
  color: #f1faee !important;
  line-height: 30px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.kolom {
  max-width: 600px;
  margin-left: 25%;
  margin-right: 25%;
}
/* form-order */
.input-order {
  position: relative;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.input-order input {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 18px;
  border: 2px solid #a8dadc;
  border-radius: 10px;
}
.input-order button {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 18px;
  border: 2px solid #a8dadc;
  border-radius: 10px;
}
.input-order span {
  position: absolute;
  top: 12px;
  left: 20px;
  padding: 0px;
  text-transform: capitalize;
  color: #8b8686;
  transition: 0.5s;
}
.sendi {
  text-align: center;
}
.input-order input:focus ~ span,
.input-order input:valid ~ span {
  top: -12px;
  left: 20px;
  font-size: 12px;
  color: #f1faee;
  background-color: #1d3557;
  padding: 2px 4px;
  border: 1px solid #000;
  border-radius: 5px;
}

.input-order button[type="submit"] {
  background-color: #e63946;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 65%;
  transition: width 0.5s ease;
  font-size: 12px;
  padding: 2px 5px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: cursive;
}

.input-order button[type="submit"]:hover {
  width: 100%;
  background-color: steelblue;
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
  color: #f1faee;
}
/* setting form */
.order-fill {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* akhir elemen order */

/* responsive */
@media screen and (max-width: 768px) {
  .input-order {
    width: 100%;
  }

  .input-order input[type="submit"] {
    width: 75%;
    transition: width 0.5s ease;
  }

  .input-order input[type="submit"]:hover {
    width: 100%;
    background-color: steelblue;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out,
      color 0.5s ease-in-out;
    color: #f1faee;
  }

  .order-fill {
    width: 100%;
  }
  .kolom {
    margin-left: 0;
    margin-right: 0;
  }
}
