@import url("https://fonts.googleapis.com/css2?family=Karla&family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #af7070;
  color: #faecd6;
}

.flex {
  display: flex;
}

.flexcol {
  flex-direction: column;
}

.minhscreen {
  min-height: 100vh;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Karla", sans-serif;
}
