.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 25px;
  margin-bottom: 80px;
}
.h2 {
  font-size: 28px;
}
.h3 {
  font-size: 25px;
}
.paragraph {
  font-size: 20px;
  line-height: 2.6;
  margin-bottom: 16px;
}

.link {
  color: #0070f3;
  text-decoration: underline;
}

.image {
  max-width: 100%;
  margin-bottom: 8px !important;
}
